@font-face {
  font-family: 'adineue PRO Cyr Light Web';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/adineuePROCyr-LightWeb.woff2') format('woff2');
}

@font-face {
  font-family: 'adineue PRO Cyr Bold Web';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/adineuePROCyr-BoldWeb.woff2') format('woff2');
}